.kaufman__triangle{
    background-image:url("../../../../images/kaufman-triangle.svg");
    width: 877px;
    height: 877px;
    right:-210px;
    top:0;
    position: absolute;
    z-index: 0;
  }
  .kaufman__triangle{
    animation: rotation 20s linear infinite;

  }