.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.header__title{
  margin:0;
  align-self: center;
  width: 730px;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle{
  margin:0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link{
  text-decoration: none;
  color:#2f80ed;
}

.header__main-illustration{
  position: absolute;
  bottom:0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
}

.header__square-pic{
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right:0;
  width: 568px;
  height: 568px;
  z-index: 0;
}

.logo_place_header{
  width: 183px;
  height: 32px;
  position: absolute;
 top: 30px;
  left: 64px;
}

.description{
  display: flex;
  padding-top: 100px;
  justify-content:center;
}

.two-columns{
  display: flex;
  width:80%;
  justify-content: space-between;
}

.two-columns__brief{
  margin:0;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  margin:0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type{
 margin-bottom: 0;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits{
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title{ 
  margin: 0 auto 20px;
  display: flex;
  width: 60%;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  margin: 0 auto;
  display: flex;
  width: 60%;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  margin: 0 auto;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width:1100px;
  list-style: none;
  justify-content: space-between;
}

.table__cell{
  padding-top: 60px;
  width: 250px;
}

.table__heading{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  box-sizing: border-box;
  min-height: 890px;
  background-image: url("../images/feynman.png");
  background-repeat:no-repeat;
  background-size: 867px 637px;
  background-position:left bottom;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
}

.feynman__title{
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 648px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
}

.feynman__link{
  margin: 0;
  text-decoration: none;
  color:#2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  position: absolute;
  right: 48px;
}

.table__cell_theme_dark {
  margin: 0;
  width: 200px;
  color: white;
  margin-right: 0;
  padding-top: 80px;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman{
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-title_theme_dark{
  color: white;
}

.kaufman__triangle{
  background-image:url("../images/kaufman-triangle.svg");
  width: 877px;
  height: 877px;
  right:-210px;
  top:0;
  position: absolute;
  z-index: -2;
}

.footer{
  box-sizing: border-box;
  display: flex;
  padding-top: 60px;
  background-color: #1f1f1f;
  min-height: 350px;
  justify-content: center;
  padding-bottom: 40px;
}

.logo_place_footer{
  display: flex;
  top:0;
  left:0;
  width: 183px;
  height: 35px;
}

.footer__columns{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}

.footer__column-copyright{
  display: flex;
  position: relative;
  flex-direction: column;
  flex-basis: 711px;
}

.footer__column-links{
  display: flex;
  flex-direction: column;
  min-height: 70px;
  justify-content: space-between;
  padding-bottom: 16px;
}

.footer__author{
  color:white;
  position: absolute;
  bottom: 0;
  padding: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading{
  margin: 0;
  color:white;
  margin-bottom:30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link{
  margin: 0;
  text-decoration: none;
  height: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color:white;
}

.social-icon{
  width: 16px;
  height: 16px;
}
